<ion-header>
  <ion-toolbar>
    <ion-title>Expense List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Date" interface="popover" placeholder="Date (newest first)">
            <ion-select-option value="Created at (newest first)">Created at (newest first)</ion-select-option>
            <ion-select-option value="Created at (oldest first)">Created at (oldest first)</ion-select-option>
            <ion-select-option value="Date (newest first)">Date (newest first)</ion-select-option>
            <ion-select-option value="Date (oldest first)">Date (oldest first)</ion-select-option>
            <ion-select-option value="Name (A-Z)">Name (A-Z)</ion-select-option>
            <ion-select-option value="Name (Z-A)">Name (Z-A)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Category" interface="popover" placeholder="Category">
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
     adf
    </ion-col>
  </ion-row>
</ion-grid>
