<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>

    <!-- Cancel Button -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close" />
        Cancel
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>{{ category.id ? 'Edit' : 'Add' }} Expense</ion-title>

    <!-- Save Button -->
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid ">
        <ion-icon slot="start" name="save" />
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">

  <!-- Name -->
  <ion-item>
    <ion-icon name="text" slot="start" role="img" class="md"></ion-icon>
    <ion-input #nameInput formControlName="name" maxlength="40" placeholder="Name" required="true" />
  </ion-item>

  <!-- Category -->
  <ion-item>
    <ion-icon name="pricetag" slot="start" role="img" class="md"></ion-icon>
    <ion-select placeholder="Category" interface="popover" formControlName="categoryId" >
      @for (category of categories; track category.id) {
        <ion-select-option [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      }
    </ion-select>
    <ion-button slot="end" (click)="opencatModal()">
      <ion-icon slot="icon-only" name="add" role="img"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Amount -->
  <ion-item>
    <ion-icon name="cash" slot="start" role="img"></ion-icon>
    <ion-input inputmode="decimal" placeholder="Amount" required="" step="0.1" type="number" formControlName="amount">
      <label for="ion-input-8">
        <input id="ion-input-8" autocapitalize="none" autocomplete="off"
               autocorrect="off" inputmode="decimal" min="0.1" name="ion-input-8" placeholder="Amount" required=""
               spellcheck="false" step="0.1" type="number">
      </label>
    </ion-input>
    <ion-note slot="end" class="md">CHF</ion-note>
  </ion-item>

  <!-- Date -->
  <ion-item>
    <ion-icon name="calendar" slot="start" role="img"></ion-icon>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date"
          value="2023-11-02T01:22:00"
          [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit',
        },
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
          formControlName="date"></ion-datetime>
      </ng-template>
    </ion-modal>

  </ion-item>
</ion-content>
