<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>

    <!-- Cancel Button -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close" />
        Cancel
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>Add Expense</ion-title>

    <!-- Save Button -->
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="start" name="save" />
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <!-- Input -->
  <ion-item>
    <ion-icon name="text" slot="start" role="img" class="md"></ion-icon>
    <ion-input #nameInput formControlName="name" maxlength="40" placeholder="Name" required="true" />
  </ion-item>
  <ion-item>
    <ion-icon name="pricetag" slot="start" role="img" class="md"></ion-icon>
    <ion-select placeholder="Category" interface="popover" formControlName="categoryId" [formGroup]="">
      @switch (categories?.length) {
        <!-- Skeleton -->
        @case (null) {
          @for (i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; track i) {
            <ion-item>
              <ion-label>
                <ion-skeleton-text [animated]="true" style="width: 80px" />
              </ion-label>
            </ion-item>
          }
        }

        <!-- Empty List -->
        @case (0) {
          <ion-item>
            <ion-icon slot="start" name="alert-circle-outline" />
            <ion-label> No categories found</ion-label>
          </ion-item>
        }

        <!-- Categories -->
        @default {
          @for (category of categories; track category.id) {
            <ion-item button="true" [detail]="true" (click)="openModal(category)">
              <ion-label> {{ category.name }}</ion-label>
            </ion-item>
          }
        }
      }
    </ion-select>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="add" role="img"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="cash" slot="start" role="img"></ion-icon>
    <ion-input inputmode="decimal" placeholder="Amount" required="" step="0.01" type="number" formControlName="amount">
      <label for="ion-input-8">
        <input id="ion-input-8" autocapitalize="none" autocomplete="off"
               autocorrect="off" inputmode="decimal" min="0.01" name="ion-input-8" placeholder="Amount" required=""
               spellcheck="false" step="0.01" type="number">
      </label>
    </ion-input>
    <ion-note slot="end" class="md">CHF</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" slot="start" role="img"></ion-icon>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date"
          value="2023-11-02T01:22:00"
          [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit',
        },
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

  </ion-item>
</ion-content>
